{% extends 'base.html' %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="300" height="300">
        </div>
        <div class="col-md-6">
            <h4>{{movie.name}}</h4><br>
            <h5>{{movie.desc}}</h5><br>
            <h6>{{movie.year}}</h6><br>
            <a class="btn btn-warning" href="{% url 'movapp:update' movie.id %}">UPDATE</a><br>
            <a class="btn btn-danger" href="{% url 'movapp:delete' movie.id %}">DELETE</a><br>

        </div>



    </div>
</div>

{% endblock %}